$bg-secondary: #fff066;
$bg-primary: #27aae1;
$bg-white: #fff;
$bg-footer: #2c3e50;
$bg-light: #f9f9f9;
$bg-lightest: #eef7fd;

$bg-active: #3bae4e;
$bg-gradienti: rgb(130, 205, 234);
$bg-overlay: rgba(255, 255, 255, 0.10196078431372549);
$bg-gradientii: linear-gradient(
  190deg,
  rgba(130, 205, 234, 1) 30%,
  rgba(214, 232, 185, 1) 60%
);
// ---- TEXT
$text-white: #fff;
$text-main: #2c3e50;
$text-primary: #27aae1;
$text-secondary: #fff066;
$text-tertiary: #757575;
$text-active: #3bae4e;
